In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Housing.csv')
df.head
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [13]:

df['mainroad'] = df['mainroad'].replace({'yes': 1, 'no': 0})
df['guestroom'] = df['guestroom'].replace({'yes': 1, 'no': 0})
df['basement'] = df['basement'].replace({'yes': 1, 'no': 0})
df['hotwaterheating'] = df['hotwaterheating'].replace({'yes': 1, 'no': 0})
df['airconditioning'] = df['airconditioning'].replace({'yes': 1, 'no': 0})
df['prefarea'] = df['prefarea'].replace({'yes': 1, 'no': 0})
df['furnishingstatus'] = df['furnishingstatus'].replace({'unfurnished': 1, 'furnished': 0, 'semi-furnished':2})

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df[df.columns[1:]], df.price,test_size=0.2)

In [15]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
413,1950,3,2,2,1,0,1,0,0,0,1,1
131,5828,4,1,4,1,1,0,0,0,0,0,2
315,5600,2,1,1,1,0,0,0,1,0,0,2
68,6000,3,1,1,1,0,0,0,1,1,0,furnished
27,8875,3,1,1,1,0,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
38,6000,3,1,4,1,1,0,0,1,2,0,1
519,4840,2,1,2,1,0,0,0,0,0,0,1
139,6360,3,1,1,1,1,1,0,1,2,1,furnished
145,5000,3,1,4,1,0,0,0,0,0,0,furnished
500,2800,3,1,1,1,0,0,0,0,0,0,1

In [11]:

df['mainroad'] = df['mainroad'].replace({'yes': 1, 'no': 0})
df['guestroom'] = df['guestroom'].replace({'yes': 1, 'no': 0})
df['basement'] = df['basement'].replace({'yes': 1, 'no': 0})
df['hotwaterheating'] = df['hotwaterheating'].replace({'yes': 1, 'no': 0})
df['airconditioning'] = df['airconditioning'].replace({'yes': 1, 'no': 0})
df['prefarea'] = df['prefarea'].replace({'yes': 1, 'no': 0})
df['furnishingstatus'] = df['furnishingstatus'].replace({'unfurnished': 1, 'semi-furnished': 0, 'semi-furnished':2})

In [6]:
y_train

51     7420000
215    4830000
434    3290000
355    3773000
59     7210000
        ...
135    5775000
264    4410000
90     6440000
332    3920000
191    5040000
Name: price, Length: 436, dtype: int64

In [7]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
model = linear_model.LinearRegression()

In [10]:
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'yes'